files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFjjCCA3YCCQC715AxuPm4VjANBgkqhkiG9w0BAQsFADCBiDELMAkGA1UEBhMC
      YXUxDDAKBgNVBAgMA3ZpYzESMBAGA1UEBwwJbWVsYm91cm5lMQ0wCwYDVQQKDARS
      TUlUMQwwCgYDVQQLDAN1bmkxDTALBgNVBAMMBHJtaXQxKzApBgkqhkiG9w0BCQEW
      HHMzNzk4NDIwQHN0dWRlbnQucm1pdC5lZHUuYXUwHhcNMjEwNjA2MDMxODEzWhcN
      MjIwNjA2MDMxODEzWjCBiDELMAkGA1UEBhMCYXUxDDAKBgNVBAgMA3ZpYzESMBAG
      A1UEBwwJbWVsYm91cm5lMQ0wCwYDVQQKDARSTUlUMQwwCgYDVQQLDAN1bmkxDTAL
      BgNVBAMMBHJtaXQxKzApBgkqhkiG9w0BCQEWHHMzNzk4NDIwQHN0dWRlbnQucm1p
      dC5lZHUuYXUwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDFNpLkkGTg
      ux4+XpgvYEQyow5axxrOvqTa9AubS++FrmqDKp/xutMf6YK+/sMkDFqdJowkGtoa
      p9lc+DDd6goW0t5Od2/RQ1h+YDQvfa58AoYVvusB+wbfPq7EWgCI4cvyBTRQ3f5H
      +P/6+cHs5UUl93f9fq788nXOplAWXTawuQSU7vVs3oBN3Gpvr0ng8SE+aVy5iMI/
      UgjJsUm8ZEkM79wlTpcT8wSPLJP/xpalTCFWtpDlab2b0HR9SBPiBTkEkGx2+yVT
      jXwie3WCLJQ0e2q2EVh+WWirpUIVCkzRnEembnbRd4rtSF6jVpO9QcGE0sPeMsDr
      PA7XGBa9nOXMAl8hr7vv2nDTvDEhbNbOvRF0CEKTrAeOenY6SV1BpwgH12gMaUHX
      HcIM7eEQxuFKvkonwVpXr26MWZcQxCmoBAFcSUxxBuZxI2Z7rDRrQjqZL1gaBpeC
      A8CZB84FYBVnaT9p9N8UbSYBvsr0AN1KwQMlqwEhB8t+p6kfEmL3vdPLwLlUGIMi
      tbwci5iLsnQlAM8/EsRiKIpRucWxjLFAeZGfA5mpZJIj7Eye16nR6CgvjAXNGehv
      29L4+PYWfSg++E8OWXKMyiUoEnlAGrAsDkGhBhT5RCc5SGZFNooAe6hdzrOg3OxE
      LmwkP8ZD/S1WPJVIK0IvAlMpcOosnJpdsQIDAQABMA0GCSqGSIb3DQEBCwUAA4IC
      AQBEcq0t88oRf5F670tnJ+jfurp/ip/actjBh6ccGbNbjxVxb7JGETKfpzHIYgjq
      g95i/IlwKDmcbn7mtRe6CMA1Yq68WJBUuy+NvwSHwXD7GqSRiDqOd8hOt7u6wXTz
      l44PXEQcxbo0WWhvYTQTxT07rXNhWjhCLtFCCdO58SSZaVIVnlx3H24edeJHY1aI
      pn1nsaBEH3LBdeW5+r9T/jv3PjKB/FipZ9Dsb+7pWUdMPg9jUA5+ymHYljsQ7kJk
      z5OuusJoaj942vtseRNLCb7brPK/65xDZHxn/X3RjAUoB+XCY5i+aOOkXyLf9jvF
      NqLhJhGnd+QuAS3MorGyVp3fzp0VDouYU+QUSgReKUwXlOd6bYVoPD4CZFxxCMn9
      MHEIDW0E/rCz+deTjymsG+Y6KhS8EUY3AhSrb32e2XhlqyUfi/+GyBQv1JWQsuol
      qMWpxzBxL886ImY9O8iLTa+8qeOe9gETwWcUD5wLeoF3XiXO629SLvur3q471SPy
      BFxu1un/o3RxbD6hWqB4gXO8rOdAKR8X0NaQMaBtP8OH4wgIIjf3yWqdA3Z+bWka
      dYDw1PHugLV3lj2T2sQJwj4bR1P92gO4+GimcG1Rr4z3f7OAbxDa2fPJWceD2DsD
      dIvhmi5wD09Q82EjaXX13jBCh4faKkSWw7GI48Qx3X37hQ==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIJKQIBAAKCAgEAxTaS5JBk4LsePl6YL2BEMqMOWscazr6k2vQLm0vvha5qgyqf
      8brTH+mCvv7DJAxanSaMJBraGqfZXPgw3eoKFtLeTndv0UNYfmA0L32ufAKGFb7r
      AfsG3z6uxFoAiOHL8gU0UN3+R/j/+vnB7OVFJfd3/X6u/PJ1zqZQFl02sLkElO71
      bN6ATdxqb69J4PEhPmlcuYjCP1IIybFJvGRJDO/cJU6XE/MEjyyT/8aWpUwhVraQ
      5Wm9m9B0fUgT4gU5BJBsdvslU418Int1giyUNHtqthFYflloq6VCFQpM0ZxHpm52
      0XeK7Uheo1aTvUHBhNLD3jLA6zwO1xgWvZzlzAJfIa+779pw07wxIWzWzr0RdAhC
      k6wHjnp2OkldQacIB9doDGlB1x3CDO3hEMbhSr5KJ8FaV69ujFmXEMQpqAQBXElM
      cQbmcSNme6w0a0I6mS9YGgaXggPAmQfOBWAVZ2k/afTfFG0mAb7K9ADdSsEDJasB
      IQfLfqepHxJi973Ty8C5VBiDIrW8HIuYi7J0JQDPPxLEYiiKUbnFsYyxQHmRnwOZ
      qWSSI+xMntep0egoL4wFzRnob9vS+Pj2Fn0oPvhPDllyjMolKBJ5QBqwLA5BoQYU
      +UQnOUhmRTaKAHuoXc6zoNzsRC5sJD/GQ/0tVjyVSCtCLwJTKXDqLJyaXbECAwEA
      AQKCAgBHHDGFRueI/Q+fr54yXwTYOWFArFBnQejRpnPU8GGSk1yGpUT89b+Q3zMs
      yVH12pqF1dNsZV5FhEZlNnzwV6aBqlFMe9aO3zi2gNvwT+Ithv9wMeItWaWVs9Vy
      qX1N3hUa1HOTwSgiLY+noI0jbVwsn3ndpuNUA90kwWVZWw0QVfZn+W33bpdW++ZJ
      FSyPdoLlLTqpD73y9RKEH3AWBRcuGgMIVLk3EUaQlaNb8/B38+aFjNjcT+91kome
      bvH0aquvkJ/7mv1PjlG3YUrywD5EWkgVFFYTYQvT8IfObGNcpXxUb7paNz+Z5aFy
      RhKJiH9N9G153lUfvQ0g0+fHQR6+eLgcOyd4Jy4Xk366dsXSHR3Cph48XpIE9pkb
      Wv1coOyUzq4vmrcem6FFaUQhIkPil/UT6GwKKlgF49XCO4B/p+Sf1QRlTqlJuGtc
      +p+as619H6tCv51SZu8FbwEULftZdREpEyz10fF04kwKjQ358S+Ft0HcmRizQWNK
      X+Y/1gjE00F1IYqWu6NDLhpt8bbq7CMczVR0honHcqrVLBAg4IrYomIv7TGfpE2y
      9c3FgAw/vt7HB4ZortKsYSkC0xHG9zECb07TsSUfd7XRwsDGN9E68tw8sifTyHHk
      7DIqUHHh1amYX0d/wiJLvAQd3DgJnNOIqRX2Vz2Z41zJyTG4wQKCAQEA/xYeNqi6
      sLRZi0LJQFTAj+Xtx3XOEfm/Q0nqazVuSvF0HiR3CmqEK4dwdanSvOJTGfPKsWyG
      O0pZiR6rDYyk6qvO2+3DqRgmW43CJuY5XvMkqrKc4LqK7+9733PwInxYx5J72qqt
      xRo5uRdv+cvb86tahz8WP8jc2gFH9KaUOE+l4mUnxjnbV9NOKbOF3WG7ckMJ6iZT
      VoBbZ8Asj419HhXQhRPE57+crNaFB7xGLFK6BGnZQXFEM8Bm07ZaGoO8F4LWqtBr
      6KKW0utOpTe6VMW7Q1peM75EnWlaSdk7LUefKHiLCsp14oDNQPwX94rvRRUK1cZ4
      8N2Hj3w0rHpQyQKCAQEAxetkssPk75o8cjr9bee3MngFOElF28ObXGq+j4fz9vJo
      ZhYoG4xPrWKV2wJLyDosJv1ZLbMCUXZSmb6g3up1BxwTBsbVzmZi8SGQIIoORqOw
      /5Pm6f96yPcqw43SCpxpI36E3WAwX0a3SaBaeGZM5HH3uIZBTi0z68QeGq9b97w2
      HjhZZgQ/GT+angX0jT/GZaFVRj5WSY8BVTxpxuI2P080TWr9ghpgRU69qMpVpTd9
      wDfM6F0rJRWJeErRhSPSrQ751PKWOgqKFtyb5xVldzvi8WsKXET36jmZ94XVR1AB
      Hbo8BShvdKQMO1aX9e1kQo1Ml1p1m7mASYIE6phBqQKCAQEAqfOCjcg9Gh4Oysnk
      bAgLg9QdaBcFBNTwqVRF6sfeg+/6/VouNbJh/N5v/vT2gwIHe/MByNQVWstefA0C
      yjQ6bF+rorv28GI2rCj2ghRBhRFaDKCUBOZESzezwFzuUQun2s+t1TKCNCAU9Uy4
      PiWkleREnHdby4N4IYdY+ZdCiYIHc58RsPA7Q3h1SzNgrO7AhJBFustuGuPKAoX3
      Km2KPtEp7IAPYJg5Oq5yU4UM+9riNK6RIRjl59T4rXWA8slyN/fkLkpOmuA4vK4p
      58oJSxGygl1jBfZuoLHghfNFihV95OjrOnVJtW87UWCkVzkp0U0DuwpQ6amu99o4
      /fFAgQKCAQEArfrwuBxvwRgqDphAcz5/0gOjQwlWOYtHpQPIo8907B3HHAZaF21O
      FTJWXQE1sLtCWLvYis2TOhzzG2dxbsNXQHqzVv+urxNd4m4IjjINvpbiXqibEhOc
      0dBEbUbb3qwD2Em9bgTCQN6e/D/Th4cWDLMKedC604f03km11OtVwv5V7FbIb19I
      QF+jAUpm4UuwkWIy3d6qZ1soZs8GhOgRm7F6XpuwYY/iFMrU+e1zQBr5leD3ZUOR
      S7YU9AOBDrKg3bQOdd0Rpc/h95rSCV7LpPal1mar4tRVwjYEXIvvIhL4CDPP0xDq
      ePRENF04k9ysh7xCGcJRJCT62qNKwxY4kQKCAQA9LYAKelWWWUdXBqqM3cp4Ma/O
      gv1QjQbuhZ5XoyfsGXUsMe17KHlby3x4CEpLPxJ0J+z+ucfj+ADjF8TyUYnuFsNT
      YpY4cdXqQzPFS+jOfPNr87tiG7dZEp6A3WpjL97MQcyaVLxZvkMtriOFp3BJQ4MO
      UcdvJrIFtYxkKu14QRwn8odITciYul+wj7JuorPZoums4uUri5xQb4SOY1kFwNLk
      OdBYmZhd5GqyPwjZ4wFhEZI1GMSFHpZeILz11HCFwMOPuEXWba015dSEW+3uDLcr
      cNSm/5aoRXhMLtfhbPSIBdtpZVQGJiRJ1ZD1hl8K5ikDRLphOnLvyvYHAzNn
      -----END RSA PRIVATE KEY-----
